*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cotainer{
    width: 100%;
}
.head{
    background-image: url(./main-img.webp);
    /* background-size: 100%; */
    height:100vh;
    color: rgb(228, 225, 222);
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.list{
    display: flex;
    justify-content: space-between;


}
.list-items{
    display: flex;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
     /* color: aliceblue;  */
    
}
.li{
    margin-left: 30px;
   color: aliceblue; 
   list-style: none;
   text-decoration: none;
}
.about-head{
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
}
.second{
    font-size: medium;
    font-family: "Playwrite BE VLG", cursive;
}
.btn1{
    
    position: absolute;
    left: 600px;
    top: 600px;
    font-size: medium;
    background-color: rgb(10, 230, 32);
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    
}
.logo{
    color: chocolate;
}
span{
    color: black;
}
.span1{
    color: darkred;
}

.head-2{
    text-align: center;
}
.btn-2{
    text-align: center;
    margin-top: 10PX;
}
.more-packges{
    border: solid;
    border-radius: 10px;
    background-color: blue;
    color: bisque;
    padding: 5px;
}
.BOOK{
    margin-top: 20px;
}
.more-packges{
    text-decoration: none;
}
.vallamkali{
    width: 80%;
    margin: 0px 10%;
    height: 300px;
    /* position: absolute; */
}
.boat{
    text-align: center;
    position: absolute;
    margin-top: -200px;
    margin-left: 600px;
    font-size: xx-large;
    font-weight: 900;
    color: blue;

}
.festival{
    text-align: center;
}
.vallamkali-more{
border: solid;
padding: 3px;
border-radius: 10px;
color: rgb(61, 13, 235);
background-color: aqua;
position: absolute;
margin-left: -800px;
margin-top: 200px;
text-decoration: none;
}
/* .youtube{
    margin: 20px 60px;
} */
.section-4{
    display: flex;
    /* justify-content: space-between; */
    margin: 10px 60px;

}
/* .section5-card{
    display:inline;
    display: flex;
    
} */
 .section5-head{
    margin-top: 30px;
    text-align: center;
    font-size: xx-large;
 }


footer{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 17, 33);
    color: aliceblue;
    padding: 20px 50px;
}
 .section6-head{
    text-align: center;
 }
 .ora{
    color: orangered;
 }
 .ic{
    padding: 20px;
    font-size: x-large;
 }
 .grid{
    margin: 10px 30px 0px 60px;
    width: 60%;
    height: 600px;
    display: grid;
    gap: 6px;
    grid-template-columns: 35% 35% 50%;
    grid-template-rows: 20% 20% 20%;
}
.grid-img{
    width: 100%;
    height: 100%;
}
.img-s{
    grid-row: span 3;
}
.north{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom: solid 1px gainsboro;
}
.text-over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    text-align: center;
    border-radius: 1rem;
    padding: 20px;
    display: grid;
    justify-content: center;
}
.now{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border-radius: 1rem;
}
.text-over:hover{
    opacity: 3;
}
.ntr{
    width: 250px;
    height: 250px;
    border: solid 1px gainsboro;
    border-radius: 1rem;
    position: relative;

}
.nim{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    padding: 20px;

}
.premium{
    color: #ff0000;
    font-family: "Playwrite CU", cursive;
    text-align: center;
}
.feat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.features{
    width: 250px;
    height: 250px;
    border: solid 1px gainsboro;
    background-color: antiquewhite;
    display: grid;
    justify-content: center;
    border-radius: 4rem;
    margin-top: 10px;

}
.fim{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;

}
.res{
    text-transform: uppercase;
    text-align: center;
}
.lk{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.enve{
    text-align: center;
    margin-top: 25px;
}
.cust{
    margin-top: 30px;
    color: blue;
    font-family: "Playwrite CU", cursive;
    text-align: center;
}
.review{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.rev{
    width: 300px;
    height: 350px;
}
.cpl{
    width: 100%;
    height: 50%;
}
.ratg,.cplnme,.cplpara{
    text-align: center;
    margin-top: 5px;
}
.hed{
    text-align: center;
    
}
